# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Back
back-flask/*.crossref
back-flask/*.scopus
back-flask/config.py
back-flask/app/*
back-flask/app
back-flask/gephi/*
back-flask/gephi
back-flask/impacto-informe/*.csv
back-flask/impacto-informe/*
back-flask/impacto-informe
back-flask/mapas
back-flask/__pycache__
back-flask/.venv
back-flask/ranking
back-flask/requirements.txt
back-flask/.*.*

# Front
front/node_modules


# Src




node_modules
package-lock.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
